*{
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    padding:0;
    margin:0;
    
}

:root{
    --Claro-blanco:#FDF0D5;
    --Oscuro-Azul1:#003459;
    --Oscuro-Azul2:#003049;
    --Oscuro-Azul3:#1B4965;
    --Azul-4:#007EA7;
    --Azul-5: #669BBC;
    --Azul-6: #5FA8D3;
    --Azul-7: #00A8E8;
    --Azul-8: #62B6CB;
    --Azul-9: #CAE9FF;
}

body{
    background-color: var(--Azul-5)
}
header{
    background-color: var(--Oscuro-Azul1);
    width:200px;
    height:auto;
    top:20px;
    left:20px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    padding: 20px;
    border-radius:20px
}

section.header-user {
    display: flex;
    justify-content: center;
    gap:10px;
    align-items: center;
}
.header-user p {
    color:var(--Claro-blanco)
}
.header-user nav a{
    text-decoration:none;
    color:var(--Claro-blanco)
}
nav.principal-nav{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap:20px
}
.principal-nav a{
    text-decoration: none;
    color:var(--Claro-blanco)
}

.logout-nav a{
    text-decoration:none;
    color:var(--Claro-blanco)
}
main{
    margin-left: 240px;
    margin-top: 20px;
    margin-right:20px
}

section nav{
    display:flex;
    flex-direction:column;
    gap:20px
}

p.msg-error{
    color:red;
    opacity: 0.6
}