<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <figure>
            <img>
        </figure>
        
        <section >
            <p>Hola (inserte nombre de usuario) !</p>
            <nav>
                <a href="/">EDIT</a>
            </nav>
        </section>
        
        <nav>
            <a href="/">PREDIOS</a>
            <a href="/">CATEGORIAS</a>
            <a href="/">EQUIPOS</a>
            <a href="/">TORNEOS</a>
            <a href="/">COPAS</a>
            <a href="/">GOLEADORES</a>
            <a href="/">FAIR PLAY</a>
            <a href="/">SANCIONES</a>
            <a href="/">USUARIOS</a>
        </nav>

        <nav>
            <a href="/">Cerrar Sesion</a>
        </nav>

    </header>
    <h1></h1>
    
</body>
</html>