<header>
    <figure>
        <img>
    </figure>
    
    <section class="header-user">
        <p>Hola Usuario Aministrador!</p>
        <nav>
            <a href="/"><i class="fa-solid fa-user-pen"></i></a>
        </nav>
    </section>
    
    <nav class="principal-nav">
        <a href="/predios">PREDIOS</a>
        <a href="/categorias">CATEGORÍAS</a>
        <a href="/equipos">EQUIPOS</a>
        <a href="/">TORNEOS</a>
        <a href="/">COPAS</a>
        <a href="/">GOLEADORES</a>
        <a href="/">FAIR PLAY</a>
        <a href="/">SANCIONES</a>
        <a href="/">USUARIOS</a>
    </nav>

    <nav class="logout-nav">
        <a href="/">Cerrar Sesión</a>
    </nav>

</header>