<header>
    <figure>
        <img>
    </figure>
    
    <section class="header-user">
        <p>Hola Usuario Aministrador!</p>
        <nav>
            <a href="/"><i class="fa-solid fa-user-pen"></i></a>
        </nav>
    </section>
    
    <nav class="principal-nav">
        <a href="/predios">PREDIOS</a>
        <a href="/categorias">CATEGORÍAS</a>
        <a href="/equipos">EQUIPOS</a> 
        <a href="/delegados">DELEGADOS</a>
        <a href="/torneos">TORNEOS</a>
        <a href="/equipos-torneos">EQUIPOS EN TORNEO</a>
        <a href="/">FECHAS</a>
        <a href="/">PARTIDOS</a>
        <a href="/">COPAS</a>
        <a href="/goleadores">GOLEADORES</a>
        <a href="/fair-play">FAIR PLAY</a>
        <a href="/">SANCIONES</a>
        <a href="/">USUARIOS</a>
    </nav>

    <nav class="logout-nav">
        <a href="/">Cerrar Sesión</a>
    </nav>

</header>