@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    background-color: gray;
}

section {
    padding-top: 75px;
    min-height: calc(100vh - 50px);
}

body {
    min-height: 100vh;
}

#__next {
    min-height: 100vh;
}

html {
    overflow-y: overlay;
}

/* .mask1 {
    -webkit-mask-image: url(../../public/ABADlogo.svg);
    mask-image: url(../../public/ABADlogo.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-size: 87%;
}

.container div {
    height: 100%;
    width: 100%;
    object-fit: cover;
    -webkit-mask-image: url(#mask);
    mask-image: url(#mask);
} */

.mask {
    -webkit-mask-image: url(../../public/ABADlogo.svg);
    mask-repeat: no-repeat;
    mask-position: center;
}