@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    background-color: #CAE9FF;
}

section {
    padding-top: 75px;
    min-height: calc(100vh - 50px);
}

body {
    min-height: 100vh;
}

#__next {
    min-height: 100vh;
}

html {
    overflow-y: overlay;
}

.tarjeta {
    /* background-color: #5FA8D3; */
    padding: 1em;
    border-radius: 1em;
}

.mask {
    -webkit-mask-image: url(../../public/ABADlogo.svg);
    mask-repeat: no-repeat;
    mask-position: center;
}

th{
    font-weight: 200;
    text-align: left;
}

thead {
}
